.investments_page_title {
  text-align: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.investments_page_title p {
  margin-top: 30px;
  color: var(--92979C, #92979c);
  text-align: center;
  font-family: TTInterfaces500;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.investing_top_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.investing_top_card {
  width: 33%;
}

.investing_top_card .main_block_wrapper_title {
  margin-bottom: 24px;
}
.investing_top_card_descr {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}
.investing_top_card_descr p {
  color: #747a80;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 13px/Regular */
  font-family: TTInterfaces400;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.investing_top_card_value {
  color: var(--text-black, var(--111112, #111112));
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 17px/Bold */
  font-family: TTInterfaces600;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 141.176% */
}
.investing_top_card_item {
  margin-bottom: 24px;
}
.black_mode .investing_top_card_value p {
  color: #fff;
}
.investing_top_card_value_blue p {
  color: #0077FFcc;
}
.black_mode .investing_top_card_value_blue p {
  color: #0077FFcc;
}
.investing_top_card_btns {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}
.investing_top_card_btns button {
  padding: 8px;
  border-radius: 65px;
  background: var(--F7F7F7, #f7f7f7);

  color: var(--111112, #111112);
  text-align: center;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  transition: all 0.4s ease;
  /* 13px/Regular */
  font-family: TTInterfaces400;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.investing_top_card_btns button:hover {
  transition: all 0.4s ease;

  background: var(--111112, #0077FFcc);
  color: var(--FFFFFF, #fff);
  opacity: 1;
}
.investing_top_card_select button:hover {
  transition: all 0.4s ease;

  background: var(--111112, #0077FFcc);
  color: var(--FFFFFF, #fff);
  opacity: 1;
}
.investing_top_card_active_btn {
  color: var(--FFFFFF, #fff) !important;
  background: var(--111112, #0077FF) !important;
}
.investing_top_card_warning p {
  color: #747a80;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 13px/Regular */
  font-family: TTInterfaces400;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.investing_top_card_warning a {
  color: #0077FFcc;
}

.investing_top_card_select button {
  border-radius: 91px;
  background: var(--F7F7F7, #f7f7f7);
  width: 100%;
  height: 46px;
  color: var(--111112, #111112);
  text-align: center;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 17px/Medium */
  font-family: TTInterfaces500;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
}

.investing_top_card_select_active {
  background: var(--2420FC, #0077FF) !important;

  color: var(--FFFFFF, #fff) !important;
}

.investing_actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}
.investing_actions button {
  padding: 0 20px;
}
.investing_actions .investing_top_card_select:first-child button {
  color: var(--D2D2D2, #d2d2d2);
}

.investments_block_title {
  justify-content: center;
  margin: 50px 0;
}
.faq_invest {
  border-radius: 6px;
  background: var(--Color_White, #fff);
  padding: 28px;
  /* Тень */
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
}
.black_mode .faq_invest {
  border-radius: 6px;
  background: var(--Color_Block_Black, #18181a);

  /* Тень */
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
}
.black_mode
.faq_invest_item_question p {
  color: #fff;
}
.black_mode
.faq_invest_item {
  border-bottom: 1px solid var(--Stroke_Black, #343436);
}
.black_mode
.faq_invest_item svg *{
  fill: #343436;
}
.black_mode
.faq_invest_item_answer p {
   color: #ffffffc4;
}
.faq_invest_item_question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq_invest_item {
  padding: 28px 0;
  border-bottom: 1px solid var(--DBDBDB, #dbdbdb);
}
.faq_invest_item_question p {
  color: var(--111112, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 17px/SemiBold */
  font-family: TTInterfaces600;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 141.176% */
}

.faq_invest_item svg {
  cursor: pointer;
  transition: all 0.5s ease;
}
.faq_invest_item_answer p {
  color: var(--111112, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  padding-top: 20px;
  /* 17px/SemiBold */
  font-family: TTInterfaces400;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
}
.faq_invest_item_answer {
  display: none;
}

.faq_invest_item_open .faq_invest_item_answer {
  display: block;
}
.faq_invest_item_open svg {
  transform: rotate(45deg);
  transition: all 0.5s ease;
}
.questions_title {
  color: var(--111112, #111112);
  text-align: center;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: TTInterfaces600;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.black_mode .questions_title {
  color: #fff;
}

@media only screen and (max-width: 1050px) {
  .investing_top_cards {
    flex-direction: column;
    gap: 0;
  }
}

@media only screen and (max-width: 450px) {
  .investing_top_card_value p,
  .faq_invest_item_question p {
    font-size: 13px;
    width: 90%;
  }
  .order_history_list_item_content_item_last span {
    padding: 0 !important;
  }

  .faq_invest_item_answer p {
    font-size: 11px;
    line-height: 140%;
  }
  .investments_page_title p {
    margin-top: 24px;
    line-height: 16px;
  }
  .investments_page .order_history_list_item_content_item_last p {
    width: 270px;
  }
  .investments_page .order_history_list_item_content_item span {
    font-size: 13px;
  }
  .page_title h2 {
    width: 300px;
  }
  .investing_top_card_btns button {
    font-size: 13px;
  }
  .investing_top_card_select button {
    font-size: 13px;
  }
  .questions_title {
    font-size: 23px;
    letter-spacing: -0.48px;
  }
}
