.investments_page_title {
  text-align: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.investments_page_title p {
  margin-top: 30px;
  color: var(--92979C, #92979c);
  text-align: center;
  font-family: TTInterfaces500;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.investing_top_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.investing_top_card {
  width: 33%;
}

.investing_top_card .main_block_wrapper_title {
  margin-bottom: 24px;
}
.investing_top_card_descr {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}
.add_api_keys_block_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 28px;
  margin-bottom: 28px;
  border-bottom: 1px solid rgb(219, 219, 219);
}
.black_mode .add_api_keys_block_title {
  border-bottom: 1px solid #343436;

}
.investing_top_card_descr p {
  color: #747a80;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 13px/Regular */
  font-family: TTInterfaces400;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.investing_top_card_value {
  color: var(--text-black, var(--111112, #111112));
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  font-weight: 700;
  font-family: TTInterfaces700;
  font-size: 17px;
  font-style: normal;

  line-height: 24px; /* 141.176% */
}
.invest_modal_top_content_descriptions {
  display: none !important;
}
.investing_top_card_item {
  margin-bottom: 24px;
}
.black_mode .investing_top_card_value p {
  color: #fff;
}
.investing_top_card_value_blue p {
  color: #0077ffcc;
}
.black_mode .investing_top_card_value_blue p {
  color: #0077ffcc;
}
.investing_top_card_btns {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}
.investing_top_card_btns button {
  padding: 8px;
  border-radius: 65px;
  background: var(--F7F7F7, #f7f7f7);

  color: var(--111112, #111112);
  text-align: center;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  transition: all 0.4s ease;
  /* 13px/Regular */
  font-family: TTInterfaces400;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.investing_top_card_btns button:hover {
  transition: all 0.4s ease;

  background: var(--111112, #0077ffcc);
  color: var(--FFFFFF, #fff);
  opacity: 1;
}
.investing_top_card_select button:hover {
  transition: all 0.4s ease;

  background: var(--111112, #0077ffcc);
  color: var(--FFFFFF, #fff);
  opacity: 1;
}
.investing_top_card_active_btn {
  color: var(--FFFFFF, #fff) !important;
  background: var(--111112, #0077ff) !important;
}
.investing_top_card_warning p {
  color: #747a80;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 13px/Regular */
  font-family: TTInterfaces400;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.investing_top_card_warning a {
  color: #0077ffcc;
}

.investing_top_card_select button {
  border-radius: 91px;
  background: var(--F7F7F7, #f7f7f7);
  width: 100%;
  height: 46px;
  color: var(--111112, #111112);
  text-align: center;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 17px/Medium */
  font-family: TTInterfaces500;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
}

.investing_top_card_select_active {
  background: var(--2420FC, #0077ff) !important;

  color: var(--FFFFFF, #fff) !important;
}

.investing_actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}
.investing_actions button {
  padding: 0 20px;
}
.investing_actions .investing_top_card_select:first-child button {
  color: var(--D2D2D2, #d2d2d2);
}

.investments_block_title {
  justify-content: center;
  margin: 50px 0;
}
.faq_invest {
  border-radius: 6px;
  background: var(--Color_White, #fff);
  padding: 28px;
  /* Тень */
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
}
.black_mode .faq_invest {
  border-radius: 6px;
  background: var(--Color_Block_Black, #18181a);

  /* Тень */
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
}
.black_mode .faq_invest_item_question p {
  color: #fff;
}
.black_mode .faq_invest_item {
  border-bottom: 1px solid var(--Stroke_Black, #343436);
}
.black_mode .faq_invest_item svg * {
  fill: #343436;
}
.black_mode .faq_invest_item_answer p {
  color: #ffffffc4;
}
.faq_invest_item_question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq_invest_item {
  padding: 28px 0;
  border-bottom: 1px solid var(--DBDBDB, #dbdbdb);
}
.faq_invest_item_question p {
  color: var(--111112, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 17px/SemiBold */
  font-family: TTInterfaces500;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
}

.faq_invest_item svg {
  cursor: pointer;
  transition: all 0.5s ease;
}
.faq_invest_item_answer p {
  color: var(--111112, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  padding-top: 20px;
  /* 17px/SemiBold */
  font-family: TTInterfaces400;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
}
.faq_invest_item_answer {
  display: none;
}

.faq_invest_item_open .faq_invest_item_answer {
  display: block;
}
.faq_invest_item_open svg {
  transform: rotate(45deg);
  transition: all 0.5s ease;
}
.questions_title {
  color: var(--111112, #111112);
  text-align: center;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: TTInterfaces600;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.black_mode .questions_title {
  color: #fff;
}

/* Invest modals */
.invest_modal {
  max-width: 868px !important;
  width: 100% !important;
  background: #fff;
  margin-left: -434px !important;
  border-radius: 6px !important;
  top: 140px !important;
  max-height: 690px;
  overflow-y: auto !important;
}
.invest_modal_top_exit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
  padding-top: 25px;
}
.invest_modal_top_exit svg {
  cursor: pointer;
}
.black_mode .invest_modal_top_exit svg * {
  fill: #fff;
}
.invest_modal_top_exit svg * {
  fill: #111112;
}
.invest_modal_top_content,
.invest_modal_bottom_content {
  max-width: 468px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.black_mode .aditional_invest_modal .login_input_titles p {
  color: #fff;
}
.black_mode .aditional_invest_modal svg * {
  stroke: #fff;
}

.invest_modal_top_content h2 {
  color: var(--Color_Black, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  margin-bottom: 24px;

  font-family: TTInterfaces800;
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -2.58px;
}
.black_mode .invest_modal_top_content h2 {
  color: var(--Color_White, #fff);
}
.invest_modal_top_content_descriptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invest_modal_top_content_descriptions h3 {
  color: var(--Color_Gray, #92979c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  margin-bottom: 15px;
  /* 13px/Medium */
  font-family: TTInterfaces500;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
}
.invest_modal_top_content_descriptions p {
  color: var(--Color_Green, #31bd65);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 13px/Medium */
  font-family: TTInterfaces500;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
}
.invest_modal_top_content_descriptions span {
  color: #f1507b;
}
.invest_modal_top_content_descriptions_line {
  width: 2px;
  height: 47px;
  background: #dbdbdb;
}
.black_mode .invest_modal_top_content_descriptions_line {
  background-color: #343436;
}
.invest_modal__content_line {
  width: 100%;
  height: 1px;
  background: #dbdbdb;
  margin: 25px 0 28px;
}
.black_mode .invest_modal__content_line {
  background: #343436;
}
.invest_modal_item_title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}
.invest_modal_item_title p,
.invest_modal_item_input p,
.invest_modal_bottom_content_item_text {
  color: var(--Color_Black, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 13px/Regular */
  font-family: TTInterfaces400;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.black_mode .invest_modal_item_title p,
.black_mode .invest_modal_item_input p,
.black_mode .invest_modal_bottom_content_item_text {
  color: #fff;
}
.invest_modal_item_title svg {
  cursor: pointer;
}
.invest_modal_item_input input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--Stroke_White, #dbdbdb);
  padding: 12px 15px;

  color: var(--Color_Gray, #000);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 13px/Regular */
  font-family: TTInterfaces400;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.black_mode .invest_modal_item_input input {
  border-radius: 5px;
  border: 1px solid var(--Stroke_Black, #343436);
  background: transparent;
  color: #fff;
}
.invest_modal_item_input {
  position: relative;
}
.invest_modal_item_input p {
  position: absolute;
  right: 15px;
  top: 15px;
}
.invest_modal_bottom_content_item_text {
  margin-top: 10px;
}
.invest_modal_bottom_content_item {
  margin-bottom: 30px;
}

/* Toggle Switch */
.switch_toggler {
  position: absolute;
  right: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}
.switch input {
  display: none;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid #6a6e77;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 1.4px;
  background-color: #0077ff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch input:checked + .slider {
  background-color: #0077ff;
  border: none;
  color: #fff;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(15px);
  top: 3px;
  background: #fff;
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 10px;
}
.switch .slider.round:before {
  border-radius: 50%;
}

/* aditional */
.aditional_invest_modal {
  margin-bottom: 30px;
}

.aditional_invest_modal .login_input_titles p {
  color: var(--Color_Black, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 13px/Medium */
  font-family: TTInterfaces500;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
}
.aditional_invest_modal svg {
  cursor: pointer;
}

.aditional_invest_modal_content h3 {
  color: var(--Color_Black, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  margin-bottom: 24px;
  /* 13px/Regular */
  font-family: TTInterfaces400;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.black_mode .aditional_invest_modal_content h4,
.black_mode .aditional_invest_modal_content li,
.black_mode .aditional_invest_modal_content h3 {
  color: var(--Color_White, #fff);
}
.aditional_invest_modal_content h4 {
  margin-bottom: 20px;
}
.aditional_invest_modal_content p {
  color: var(--Color_Gray, #92979c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 13px/Regular */
  font-family: TTInterfaces400;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 20px;
}
.aditional_invest_modal_content li {
  margin-bottom: 4px;
}
.aditional_invest_modal_hidden .aditional_invest_modal_content {
  display: none;
}
.aditional_invest_modal_content ul {
  padding-left: 17px;
}
.invest_modal_terms {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
.invest_modal_terms input {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid var(--Stroke_White, #dbdbdb);
  cursor: pointer;
}
.invest_modal_terms p {
  color: var(--Color_Gray, #92979c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 13px/Regular */
  font-family: TTInterfaces400;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.invest_modal_terms a {
  color: #0077ff;
}
.invest_modal_select button {
  margin-bottom: 28px;
  font-size: 13px !important;
  background: var(--Color_Lite_Gray, #f7f7f7);
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Styles for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  border-radius: 5px;
}
.risk_orange {
  color: var(--Yellow, #f2c94c) !important;
}
.mb_20px {
  margin-bottom: 20px;
}
.investing_top_card_btns {
  display: none !important;
}

.black_mode
.add_api_keys_block_title h2 {
 color: #fff;
}

@media only screen and (max-width: 1050px) {
  .investing_top_cards {
    flex-direction: column;
    gap: 0;
  }
}
@media only screen and (max-width: 880px) {
  .invest_modal {
    width: 100%;
    max-width: 100%;
    left: 0 !important;
    margin: 0 !important;
  }
}
@media only screen and (max-width: 500px) {
  .invest_modal_top_content h2 {
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -1px;
  }
  .add_api_keys_block_title div {
    width: 100%;
  }
  .add_api_keys_block_title {
    flex-direction: column;
  }
  .add_api_keys_block_title h2 {
    font-size: 17px;
    line-height: 100%;
    color: var(--111112, #111112);
  }
  .mob_api_list {
    padding: 15px !important;
  }
  .add_api_keys_block_title p {
    color: var(--92979C, #92979c);
    font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
    margin-top: 10px;
    font-family: TTInterfaces400;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  /* .invest_modal {
    top: 30px !important;
  } */
  .invest_modal_top_content,
  .invest_modal_bottom_content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .switch_toggler {
    right: 15px;
  }
  .invest_modal {
    top: auto !important;
    bottom: 0 !important;
  }
  .invest_modal_item_input input {
    padding: 12px 11px;
    font-size: 13px;
  }
  .aditional_invest_modal_content li,
  .aditional_invest_modal_content h4 {
    margin-bottom: 14px;
  }
  .aditional_invest_modal_content p {
    margin-bottom: 12px;
  }
  .invest_modal_top_exit svg * {
    fill: #d2d2d2;
  }
  .invest_modal_top_exit svg {
    position: absolute;
    right: 15px;
    top: 24px;
    z-index: 11;
  }
}
@media only screen and (max-width: 450px) {
  .investing_top_card_value p,
  .faq_invest_item_question p {
    font-size: 13px;
    width: 90%;
  }
  .order_history_list_item_content_item_last span {
    padding: 0 !important;
  }

  .faq_invest_item_answer p {
    font-size: 13px;
    line-height: 140%;
  }
  .investments_page_title p {
    margin-top: 24px;
    line-height: 16px;
  }
  .investments_page .order_history_list_item_content_item_last p {
    width: 270px;
  }
  .investments_page .order_history_list_item_content_item span {
    font-size: 13px;
  }
  .page_title h2 {
    width: 300px;
  }
  .investing_top_card_btns button {
    font-size: 13px;
  }
  .investing_top_card_select button {
    font-size: 13px;
  }
  .questions_title {
    font-size: 23px;
    letter-spacing: -0.48px;
  }
}
.user_balance_invest {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user_balance_invest h4 {
  cursor: pointer;
  /* 13px/Regular */
  color: rgb(0, 119, 255);
  font-family: TTInterfaces400;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: right;
}

@media screen and (max-height: 850px) {
  .invest_modal {
    top: 40px !important;
  }
}
