.order_item_top_status_process {
  border-radius: 6px !important;
  background: rgba(252, 217, 32, 0.3) !important;
}

.order_item_top_status_process p {
  color: #ffd600 !important;
}

.rates_card {
  width: 33%;
}
.rates_card .main_block_wrapper_title {
  padding: 10px;
  flex-direction: column;
  align-items: start;
}
.rates_card .main_block_wrapper_title h2 {
  font-family: TTInterfaces800;
  margin-bottom: 10px;
}
.rates_card .main_block_wrapper_title p {
  color: var(--92979C, #92979c);
  font-family: TTInterfaces400;

  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rates_card_descr_price p {
  color: var(--OnBg, #111112);
  font-family: TTInterfaces800;
  font-size: 42px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.42px;
}
.black_mode .rates_card_descr_price p {
  color: #fff;
}
.rates_card_descr_price span {
  color: var(--92979C, #92979c);

  font-family: TTInterfaces400;

  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.rates_card_descr_limit p {
  color: var(--OnBg, #111112);
  font-family: TTInterfaces500;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.9;
  margin-top: 8px;
}
.black_mode .rates_card_descr_limit p {
  color: var(--Color_White, #FFF);
}

.rates_card:nth-child(1) {
  border-top: 8px solid #64dd86 !important;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}
.rates_card:nth-child(2) {
  border-top: 8px solid #fcd920 !important;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}
.rates_card:nth-child(3) {
  border-top: 8px solid #0077FF !important;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

.rates_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.rates_warning .main_block_wrapper_title {
  display: flex;
  flex-direction: column;

  align-items: start;
}
.rates_warning .main_block_wrapper_title h2 {
  color: var(--111112, #111112);
  margin-bottom: 28px;
  font-family: TTInterfaces600;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 104.348% */
}
.rates_warning .main_block_wrapper_title p {
  color: var(--92979C, #92979c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: TTInterfaces400;

  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
}
.transaction_item:last-child .order_history_list_line {
  display: none;
}
@media only screen and (max-width: 950px) {
  .rates_cards {
    flex-direction: column;
    gap: 0;
  }
}

@media only screen and (max-width: 450px) {
  .rates_card .main_block_wrapper_title p,
  .rates_card_descr_limit p,
  .rates_card_descr_price span,
  .rates_warning .main_block_wrapper_title p {
    font-size: 13px;
  }
  .rates_card_descr_price p {
    font-size: 23px;
  }
  .rates_warning .main_block_wrapper_title h2 {
    font-size: 17px;
  }
  .page_title h2 {
    text-align: center !important; 
  }
  .investments_page_title p {
    font-size: 15px;
  }
  .investments_page_title h2 span {
    display: none;
  }
  .investments_page_title p br {
    display: none;
  }
}
