.algo_type_top_cards .main_block_wrapper_top {
  padding: 24px;
}
.algo_type_top_cards .main_block_wrapper {
  width: 25%;
  margin: 0;
}
.algo_type_top_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 48px;
}

.algo_type_top_card_green {
  color: rgb(22, 163, 74) !important;
}
.algo_type_top_card_red {
  color: rgb(220, 38, 38) !important;
}

.algorithm_type_block_title h3 {
  color: rgb(27, 27, 27);
  font-family: TTInterfaces800;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 48px;
}
.algorithm_type_desc {
  margin-bottom: 48px;
}

.algorithm_type_desc p {
  color: rgb(0, 0, 0);
  font-family: TTInterfaces400;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}

.algo_type_stats {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.algo_type_stats div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.algo_type_stats p {
  color: rgb(0, 0, 0);
  font-family: TTInterfaces400;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}
