.settings_navigation {
  padding: 20px;

  border-bottom: 1px solid var(--F7F7F7, #f7f7f7);
  /* background: var(--111112, #111112); */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  border-bottom: 1px solid var(--Stroke_White, #dbdbdb);
}
.black_mode .settings_navigation {
  background: transparent;
  border-bottom: 1px solid var(--Stroke_Black, #343436);
}
.settings_navigation p {
  color: #111112;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 17px/Medium */
  font-family: TTInterfaces500;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
}
.black_mode .settings_navigation p {
  color: #fff;
}
.password_templ path * {
  fill: #000;
  stroke: #0000;
}

.user_image_block h2 {
  color: var(--text-black, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  margin-bottom: 10px;
  /* 23px/SemiBold */
  font-family: TTInterfaces700;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 104.348% */
}
.black_mode .user_image_block h2 {
  color: #fff;
}
.user_image_block p {
  color: var(--92979C, #92979c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 13px/Regular */
  font-family: TTInterfaces400;

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.user_img img {
  cursor: pointer;
}
.user_img {
  display: flex;
  align-items: center;
  gap: 40px;
}
.user_img p {
  color: var(--text-gray, var(--92979C, #92979c));
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 17px/Regular */
  font-family: TTInterfaces400;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
}

.user_data_item span {
  color: #747a80;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: TTInterfaces400;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.user_data_item div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.black_mode .user_data_item div svg * {
  fill: #fff;
}
.user_data_item div p:first-child {
  color: var(--text-black, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 17px/SemiBold */
  font-family: TTInterfaces600;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 141.176% */
}
.black_mode .user_data_item div p:first-child {
  color: #fff;
}
.api_key_title {
  margin-bottom: 50px;
}
.user_data_item p:last-child {
  color: #0077ffcc;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 13px/Regular */
  font-family: TTInterfaces400;
  cursor: pointer;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.user_data_item p:last-child span {
  color: #0077ffcc;
}

.user_login_history_titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user_login_history {
  margin-top: 50px;
}
.user_login_history_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user_login_history_item p {
  color: var(--111112, #111112);
  width: 33%;
  /* 17px/Regular */
  font-family: TTInterfaces400;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
}
.user_login_history_item p:nth-child(2) {
  text-align: center;
}
.user_login_history_item p:nth-child(3) {
  text-align: right;
}
.black_mode .user_login_history_item p {
  color: #fff;
}

.user_login_history_titles p:nth-child(2) {
  margin-right: -1%;
}
.api_keys_title {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.api_keys_title {
  padding-top: 40px;
}
.api_keys_title_top h2 {
  color: #000;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: TTInterfaces800;
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 104.348% */
}
.black_mode .api_keys_title_top h2 {
  color: #fff;
}

.add_key_btn button {
  padding: 11px 40px 11px 40px;
  border-radius: 40px;
  background: var(--111112, #0077ff);
  color: var(--FFFFFF, #fff);
  font-family: TTInterfaces500;
  height: 46px;
  font-size: 13px !important  ;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
}
.add_key_btn button:hover {
  background: rgba(36, 32, 252, 0.8);
}
.api_keys_title span {
  color: var(--92979C, #92979c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: TTInterfaces500;

  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
}
.api_keys_title {
  margin-bottom: 52px;
}
.add_key_history .user_login_history {
  margin-top: 0;
}
.add_key_history_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user_login_history table tbody td {
  color: var(--111112, #111112);

  font-family: TTInterfaces400;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
  padding-top: 28px;
}
.black_mode .user_login_history table tbody td {
  color: #fff;
}
.user_login_history thead td {
  color: var(--92979C, #92979c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: TTInterfaces400;
  padding-bottom: 28px;
  border-bottom: 1px solid var(--DBDBDB, #dbdbdb);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.user_login_history table {
  border-collapse: collapse;
}
.black_mode .user_login_history thead td {
  border-bottom: 1px solid var(--Stroke_Black, #343436);
}
.user_login_history table {
  width: 100%;
}
.api_actions {
  display: flex;
  align-items: center;
  gap: 4px;
}
.api_actions p {
  font-family: TTInterfaces400;
  cursor: pointer;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
  margin: 0;
}
.user_login_history_item_wrapper:last-child .order_history_list_line {
  display: none;
}
.api_actions p:first-child {
  color: var(--2420FC, #0077ff);
}
.api_actions p:last-child {
  color: var(--F1507B, #f1507b);
}

.user_login_history table tbody td:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.user_login_history table thead td:last-child {
  text-align: right;
}
.user_login_history table tbody td:nth-child(2),
.user_login_history table tbody td:nth-child(3),
.user_login_history table tbody td:nth-child(4) {
  text-align: center;
}
.user_login_history table thead td:nth-child(2),
.user_login_history table thead td:nth-child(3),
.user_login_history table thead td:nth-child(4) {
  text-align: center;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #00000000;
  top: 0;
  left: 0;

  transition: all 0.5s ease;
  visibility: hidden;
}
.visible_overlay {
  transition: all 0.5s ease;
  background: #00000068;
  visibility: visible;
}
.user_data_item p span {
  text-transform: lowercase;
}
.change_password_security_btn span {
  padding-left: 5px;
}
.modal_wrapper {
  position: fixed;
  max-width: 520px;
  width: 100%;
  left: 50%;
  top: 15%;
  z-index: 111;
  margin-left: -260px;
  visibility: hidden;
  transform: translateY(100%);
  transition: all 0.5s ease;
  opacity: 0;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
}
.black_mode .modal_wrapper {
  background: #18181a;
  border-radius: 6px;
}
.black_mode .modal_wrapper_title {
  background: transparent;
  border-bottom: 1px solid var(--Stroke_Black, #343436);
}
.black_mode .modal_wrapper_title p {
  color: var(--Color_White, #fff);
}
.black_mode .modal_wrapper_content {
  background: transparent;
}
.black_mode .modal_wrapper_content_item input {
  border: 1px solid var(--Stroke_Black, #343436);
  background: transparent;
  color: #fff;
}
.black_mode .modal_wrapper_cancel button {
  color: var(--Color_Accent, #07f);
}
.visible_modal_wrapper {
  transform: translateY(0%);
  transition: all 0.5s ease;
  visibility: visible;
  opacity: 1;
}

.modal_wrapper_title {
  border-bottom: 1px solid var(--DBDBDB, #dbdbdb);
  background: var(--FFFFFF, #fff);
  padding: 24px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px 6px 0 0;
}
.modal_wrapper_title p {
  color: var(--111112, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 17px/SemiBold */
  font-family: TTInterfaces600;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 141.176% */
}
.modal_wrapper_title svg {
  cursor: pointer;
}
.modal_wrapper_content {
  padding: 15px 15px 0;
  background: var(--FFFFFF, #fff);
}
.modal_wrapper_content_item p {
  color: #747a80;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 13px/Regular */
  font-family: TTInterfaces400;
  margin-bottom: 10px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.modal_wrapper_btns {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: end;
  padding-bottom: 24px;
  gap: 15px;
}
.modal_wrapper_content_item input {
  border-radius: 5px;
  border: 1px solid #eaeaea;
  height: 40px;
  margin-bottom: 30px;
  width: 100%;
  color: var(--text-black, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  text-indent: 11px;
  /* 13px/SemiBold */
  font-family: TTInterfaces500;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
}
.modal_wrapper_save_btn button {
  border-radius: 40px;
  background: var(--111112, #0077ff);
  padding: 11px 20px 13px 20px;

  color: var(--FFFFFF, #fff);
  font-family: TTInterfaces500;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
}
.modal_wrapper_save_btn button:hover {
  background: rgba(36, 32, 252, 0.8);
}
.modal_wrapper_cancel button {
  padding: 14px 10px;
  color: var(--111112, #111112);
  text-align: center;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  border-radius: 40px;
  background: transparent;
  /* 13px/Regular */
  font-family: TTInterfaces500;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
}

.recovery_inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.recovery_inputs input {
  width: 100%;
  height: 34px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  text-indent: 10px;

  margin-bottom: 24px !important;
}
.recovery_time {
  text-align: right;
  margin-bottom: 28px !important;
}
.api_select {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  height: 40px;
  cursor: pointer;
  color: #000;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  padding-left: 11px;
  /* 13px/Regular */
  font-family: TTInterfaces400;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
  margin-bottom: 30px;
}
.api_select option {
  display: flex;
  align-items: center;
}
.add_key_history_mobile {
  display: none;
}
.add_key_history_mobile_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add_key_history_mobile_list p {
  color: var(--92979C, #92979c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  margin-bottom: 24px;
  /* 13px/Regular */
  font-family: TTInterfaces400;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.add_key_history_mobile_list h4 {
  color: var(--111112, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: TTInterfaces400;

  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
}
.my_active_api {
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
}
.my_active_api .add_key_history_mobile_title {
  margin-bottom: 24px;
}
.api_delete_btn button {
  background: transparent;
  color: var(--F1507B, #f1507b);
}
.add_key_history_mobile_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--DBDBDB, #dbdbdb);
  padding-bottom: 24px;
  margin-bottom: 24px;
}
.add_key_history_mobile_title h2 {
  color: var(--111112, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 23px/SemiBold */
  font-family: TTInterfaces600;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 104.348% */
}
.black_mode .add_key_history_mobile_title h2 {
  color: #fff;
}
.black_mode .add_key_history_mobile_list h4 {
  color: #fff;
}
.add_key_history_mobile_list {
  justify-content: space-between;
}
.add_key_history_mobile_list div:last-child {
  text-align: right;
}
.user_img_wrapper {
  position: relative;
}
.user_img_wrapper img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.4s ease;
}
.user_img_update {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 50%;
  background: #0077ff;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 10px;
  transition: all 0.4s ease;
}
.mob_api_list {
  display: none;
}
.drop_api_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.drop_api_item_name {
  display: flex;
  align-items: center;
}
.drop_api_item_name p {
  margin: 0;
  padding-left: 8px;

  color: #000;

  font-family: TTInterfaces400;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.drop_api_item span {
  color: var(--Color_Gray, #92979c);
  font-family: TTInterfaces400;

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.api_modal_dropdown {
  margin-bottom: 30px;
}
.drop_api_item_name svg {
  width: 10px;
}
.api_modal_dropdown input {
  height: auto;
}
.css-13cymwt-control {
  height: 40px;
  border-radius: 5px !important;
  border: 1px solid #eaeaea;
  box-shadow: none !important;
  cursor: pointer !important;
}
.css-t3ipsp-control {
  border: 1px solid #eaeaea !important;
  box-shadow: none !important;
}
.css-1u9des2-indicatorSeparator {
  display: none;
}
.css-1fdsijx-ValueContainer {
  padding-right: 0 !important;
}
.css-tr4s17-option {
  background: #1111121a;
}
.css-t3ipsp-control:hover {
  border-color: #eaeaea !important;
}

.black_mode .css-13cymwt-control, .black_mode .css-t3ipsp-control {
  border: 1px solid var(--Stroke_Black, #343436) !important;
  background: transparent !important;
  color: #fff !important;
}
.black_mode .drop_api_item_name p {
  color: #fff;
}
@media only screen and (max-width: 750px) {
  .api_key_title {
    flex-direction: column;
    text-align: left;
    align-items: start;
    margin-bottom: 24px;
  }
  .user_img p br {
    display: none;
  }
  .api_keys_title {
    flex-direction: column;
  }
  .overlay {
    display: block;
  }
  .add_key_history_mobile {
    display: block;
  }
  .api_keys_title_top {
    flex-direction: column;
    margin-top: 0;
  }
  .add_key_btn {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 14px;
  }
  .add_key_btn button {
    width: 100%;
  }
  .add_key_history {
    display: none;
  }
  .mob_api_list {
    display: block;
  }
  .add_key_history_mobile_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .add_key_history_mobile_title h2 {
    color: var(--111112, #111112);
    font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

    /* 23px/SemiBold */
    font-family: TTInterfaces600;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 104.348% */
  }
}
@media only screen and (max-width: 520px) {
  .modal_wrapper {
    width: 100%;
    top: auto;
    left: 0;
    right: auto;
    margin: 0 !important;
    bottom: 0 !important;
    display: block;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.modal_wrapper_content_item .Dropdown-control {
  display: flex;
  align-items: center;
  padding: 10px !important;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  margin-bottom: 30px;

  color: #000;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 13px/Regular */
  font-family: TTInterfaces400;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.black_mode .modal_wrapper_content_item .Dropdown-control {
  background: transparent;
  color: #fff;
  border: 1px solid var(--Stroke_Black, #343436);
}
.black_mode .modal_wrapper_content_item .Dropdown-option {
  color: #fff;
}
.modal_wrapper_content_item .Dropdown-option {
  color: #000;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 13px/Regular */
  font-family: TTInterfaces400;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.black_mode .Dropdown-option:hover {
  background: #18181ad7 !important;
  color: #fff;
}
.black_mode .is-selected {
  background: #18181ad7 !important;
  color: #fff;
}
.user_login_history_item p {
  margin: 0;
}
.add_api_btns button,
.add_api_btns .modal_wrapper_save_btn {
  width: 100%;
}
.add_api_btns {
  flex-direction: column;
  align-items: center;
  gap: 0;
}
.redirect_btn p {
  color: var(--Color_Accent, #07f);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: TTInterfaces400;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
  margin-bottom: 24px;
}
.create_acc_r p {
  color: var(--Color_Gray, #92979c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  margin-top: 15px;
  /* 13px/Regular */
  font-family: TTInterfaces400;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
@media only screen and (max-width: 450px) {
  .api_key_title h2 {
    width: auto;
  }
  .add_key_btn {
    margin-bottom: 0;
    margin-top: 24px;
  }
  .modal_wrapper_title {
    padding: 14px 15px;
  }
  .user_img_wrapper img {
    width: 60px;
    height: 60px;

    border-radius: 50%;
    transition: all 0.4s ease;
  }
  .user_img_update {
    padding: 2px;
    bottom: 4px;
  }
  .user_img_update svg {
    width: 12px;
    height: 12px;
  }
  .modal_wrapper_btns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    gap: 14px;
  }
  .modal_wrapper_btns div {
    width: 100% !important;
  }
  .modal_wrapper_save_btn button {
    border-radius: 40px;
    background: var(--111112, #0077ff);
    padding: 11px 20px 13px 20px;
    width: 100%;
    color: var(--FFFFFF, #fff);
    font-family: TTInterfaces500;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 123.077% */
  }
  .modal_wrapper_cancel button {
    width: 100%;
    padding: 14px 10px;
    color: var(--111112, #111112);
    text-align: center;
    font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
    border-radius: 40px;
    background: transparent;
    /* 13px/Regular */
    font-family: TTInterfaces400;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
  }
  .user_image_block h2 {
    font-size: 17px;
  }
  .user_img p,
  .user_data_item div p:first-child,
  .settings_navigation p {
    font-size: 13px;
  }
  .security_page .secondary_block_wrapper svg {
    width: 100px;
  }
  .user_data_item p:last-child span {
    display: none;
  }
  .user_login_history_item p,
  .api_keys_title span,
  .add_key_history_mobile_list h4 {
    font-size: 13px;
  }
  .order_history_list_line {
    margin: 24px 0;
  }
  .api_keys_title_top h2 {
    text-align: left;
  }
  .api_keys_title_top {
    align-items: start;
  }
  .api_keys_title {
    margin-bottom: 24px;
  }
}
