.base_top_block {
  padding: 40px 0;

  border-top: 1px solid var(--F7F7F7, #F7F7F7);

  /* background: var(--111112, #111112); */
}

.base_top_block_wrapper {
  max-width: 1250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.base_top_block_wrapper p {
  color: var(--111112, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  margin-bottom: 40px;
  /* 17px/Regular */
  font-family: TTInterfaces400;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
  display: flex;
  align-items: center;
  gap: 8px;
}
.base_top_block_wrapper p a {
  color: var(--92979C, #92979c);
}
.base_top_block_wrapper_nav p {
  color: var(--92979C, #92979c);

}
.base_top_block_wrapper h1 {
  color: var(--FFFFFF, #111112);
  font-family: TTInterfaces800;
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -2.58px;
}

.base_question_card_content p {
  color: var(--111112, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  margin-bottom: 12px;
  /* 17px/Bold */
  font-family: TTInterfaces700;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 141.176% */
}

.base_question_card_content span {
  color: var(--92979C, #92979c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: TTInterfaces400;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.base_question_card_content div {
  margin-bottom: 28px;
}
.base_question_card_content div:last-child {
  margin-bottom: 0;
}
.base_questions {
  display: flex;

  justify-content: space-between;
  gap: 24px;
  align-items: start;
}

.base_block_title h2 {
  margin: 25px 0 50px;
  color: #000;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 23px/SemiBold */
  font-family: TTInterfaces600;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 104.348% */
}

.base_news,
.base_bottom_blocks {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
}
.base_bottom_block {
  width: 50%;
  height: 276px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.base_bottom_blocks_left p {
  color: var(--111112, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  margin-bottom: 28px;
  /* 23px/SemiBold */
  font-family: TTInterfaces600;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 104.348% */
}

.base_bottom_blocks_left span {
  color: var(--92979C, #92979c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: TTInterfaces400;

  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
}

.base_bottom_blocks_left button {
  padding: 18px 28px;
  border-radius: 40px;
  margin-top: 28px;
  background: var(--2420FC, #2420FC);
  transition: all 0.4s ease;
  color: var(--FFFFFF, #fff);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: TTInterfaces500;

  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
}
.base_bottom_blocks_left button:hover {
  background: rgba(36, 32, 252, 0.80);
  transition: all 0.4s ease;

}
.base_bottom_blocks_left {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.register_page_top_data {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--92979C, #92979c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 17px/Regular */
  font-family: TTInterfaces400;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
  margin-top: 30px;
  margin-bottom: 80px;
}
.register_page_block_title h2 {
  color: #111112;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 23px/SemiBold */
  font-family: TTInterfaces600;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 104.348% */
  margin-bottom: 80px;
}
.register_page_text p {
  color: #111112;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: TTInterfaces400;
  margin-bottom: 50px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
}
.register_page img {
  width: 100%;
  margin-bottom: 24px;
}
.register_page_text_block {
  padding: 28px;
  border-radius: 6px;
  background: var(--2420FC, #2420FC);
  margin-bottom: 50px;
}
.register_page_text_block p {
  color: var(--FFFFFF, #fff);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 17px/Medium */
  font-family: TTInterfaces500;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
}
@media only screen and (max-width: 1300px) {
  .base_top_block_wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .base_questions,
  .base_news,
  .base_bottom_blocks {
    flex-direction: column;
    gap: 0;
  }
  .base_questions_column {
    width: 100%;
  }
  .base_top_block_wrapper {
    position: relative;
  }
  .base_top_block_wrapper img {
    position: absolute;
    right: 0;
  }
}

@media only screen and (max-width: 590px) {
  .base_top_block_wrapper_nav {
    overflow: auto;
    width: 100%;
    position: relative;
    z-index: 11;
  }
  .base_top_block {
    width: 100%;
  }
  .base_top_block_wrapper_nav div {
    width: 480px;
  }
  .base_top_block .base_top_block_left{
  width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .base_top_block_wrapper p {
    font-size: 13px;
    margin-bottom: 20px;
  }
  .base_top_block_wrapper h1 {
    font-size: 30px;
  }
  .register_page_top_data {
    margin-bottom: 50px;
  }
  .register_page_block_title h2 {
    margin-bottom: 24px;
  }
  .base_question_card {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .base_question_card_content p,
  .base_bottom_blocks_left span,
  .register_page_text p {
    font-size: 13px;
  }
  .register_page_text p {
    line-height: 16px;
    margin-bottom: 24px;
  }
  .register_page_text_block {
    padding: 24px;
  }
  .register_page_text_block p {
    font-size: 13px;
    line-height: 16px;
  }
  .base_block_title h2,
  .base_bottom_blocks_left p {
    font-size: 17px;
  }
  .base_bottom_block img {
    width: 100px;
    height: 100px;
  }
  .base_bottom_blocks_left button {
    padding: 11px 20px 13px 20px;
    width: 170px;
    font-size: 13px;
    margin-top: 24px;
  }
  .base_block_title h2,
  .base_bottom_blocks_left p {
    margin-bottom: 24px;
  }
  .register_page_top_data p {
    font-size: 13px;
  }
}


