.algorithm_wrapper {
  width: 800px;
  min-height: 86vh;
  margin: 0 auto;
}
.algorithm_wrapper_title h1 {
  color: rgb(26, 26, 26);
  font-family: TTInterfaces800;
  font-size: 32px;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -2.58px;
  text-align: center;
  margin: 48px 0;
}
.black_mode .algorithm_wrapper_title h1,
.black_mode .algorithm_item_title p {
  color: rgb(255, 255, 255);
}
.error_input_validate  {
  font-family: TTInterfaces400;
color: #DC2626;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  margin-top: 20px;
}
.mt_24 {
  margin-top: 24px;
}
.algorithm_item_title svg {
  cursor: pointer;
}
.css-1fdsijx-ValueContainer {
  padding: 0 !important;
  padding-left: 15px !important;
  height: 50px !important;
}
.black_mode .css-1xc3v61-indicatorContainer svg * {
  fill: rgb(146, 151, 156);
}
.add_new_api_key_btn {
  border-radius: 6px;
  width: 100%;
  height: 50px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
  color: rgb(37, 99, 235);
  font-family: TTinterfaces400;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
}
.add_new_api_key_btn:hover {
  color: #fff;
}
.black_mode .add_new_api_key_btn {
  background: rgb(40, 40, 40);
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate360 1s linear;
}
.algorithm_line {
  margin: 24px 0;
  width: 100%;
  height: 1px;
  background: rgb(229, 231, 235);
}
.black_mode .algorithm_line {
  background: rgb(50, 50, 50);
}
.algorithm_item_title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.algorithm_item_title p {
  color: rgb(0, 0, 0);
  font-family: TTInterfaces500;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  margin-right: 6px;
}

.create_algo_birj .css-1hb7zxy-IndicatorsContainer {
  display: flex;
}
.algo_refresh {
  border-radius: 6px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(242, 242, 242);
}
.black_mode .algo_refresh {
  border-radius: 6px;

  background: rgb(40, 40, 40);
}
.black_mode .algo_refresh svg * {
  fill: #fff;
}
.black_mode .stop_lost_text p {
  color: #fff;
}

.empty_algo_option p {
  color: rgb(146, 151, 156);
  font-family: TTInterfaces400;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 7px;
}

.trade_allow {
  display: flex;
  align-items: center;
  gap: 16px;
}
.trade_allow p {
  margin: 0;
  color: rgb(22, 163, 74);
  font-family: TTInterfaces400;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.algo_regim {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.algo_regim_item {
  border-radius: 6px;
  border: 2px solid transparent;
  padding: 24px;
  cursor: pointer;
  height: 148px;
  max-width: 388px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
}
.black_mode .algo_regim_item {
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
  background: rgb(40, 40, 40);
}
.algo_regim_item_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.algo_regim_item_title h4 {
  color: rgb(0, 0, 0);
  font-family: TTInterfaces500;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.black_mode .algo_regim_item_title h4 {
  color: rgb(255, 255, 255);
}
.algo_regim_item p {
  color: rgb(146, 151, 156);
  font-family: TTInterfaces400;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.algo_regim_item_rec {
  color: rgb(255, 255, 255);
  font-family: TTInterfaces500;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 6px;
  padding: 4px 8px 4px 8px;
  background: rgb(37, 99, 235);
}

.algo_regim_item_active {
  border: 2px solid rgb(37, 99, 235);
}
.reinv_inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.reinv_inputs .algorithm_item_title {
  margin: 0;
}
.algorithm_item_input {
  position: relative;
}
.algorithm_item_input input {
  border-radius: 6px;
  width: 100%;
  padding: 5px 5px 5px 15px;
  height: 53px;
  border: none;
  outline: none;
  background: rgb(242, 242, 242);

  color: rgb(27, 27, 27);
  font-family: TTInterfaces400;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.black_mode .algorithm_item_input input {
  border-radius: 6px;

  background: rgb(40, 40, 40);
}
.algorithm_item_input input::placeholder,
#react-select-5-placeholder {
  color: rgb(146, 151, 156);
  font-family: TTInterfaces400;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.algorithm_item_input_add {
  position: absolute;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  height: 43px;
  padding: 5px 16px 5px 16px;
  background: rgb(255, 255, 255);
  right: 5px;
  top: 5px;
}
.black_mode .algorithm_item_input_add {
  border-radius: 6px;

  background: rgb(50, 50, 50);
}

.algorithm_item_input_add p {
  color: rgb(27, 27, 27);
  font-family: TTInterfaces400;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.black_mode .algorithm_item_input_add p {
  color: rgb(255, 255, 255);
}
.black_mode .css-1p3m7a8-multiValue {
  background: #0000002b;
}
.algorithm_item_input_add svg {
  cursor: pointer;
}
.stop_lost_text p {
  color: rgb(27, 27, 27);
  font-family: TTInterfaces400;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 24px;
}

.algorithm_btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}
.algorithm_btns button {
  height: 40px;
  border-radius: 6px;
  padding: 11px 20px;
}

.trade_select .css-13cymwt-control,
.trade_select .css-b62m3t-container,
.trade_select .css-1fdsijx-ValueContainer,
.trade_select .css-t3ipsp-control {
  height: auto !important;
  min-height: 54px;
}
.algorithm_btns .modal_wrapper_cancel button {
  border-radius: 6px;
  color: rgb(27, 27, 27);
  background: rgb(242, 242, 242);
}

.black_mode .algorithm_wrapper input {
  color: #fff;
}
@media only screen and (max-width: 830px) {
  .algorithm_wrapper {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
  .algo_cards {
    flex-direction: column;
  }
  .algo_card {
    width: 100%;
  }
}
.black_mode .algo_deposit .algorithm_item_input_add {
  background: rgb(50, 50, 50);
}
.black_mode .algorithm_btns .modal_wrapper_cancel button {
  border-radius: 6px;
  color: rgb(255, 255, 255);
  background: rgb(40, 40, 40);
}
.trade_not_allow {
  margin-bottom: 24px;
}
.trade_not_allow p {
  color: #dc2626;
}

.select_api_key_sl .css-16xfy0z-control,
.select_api_key_sl .css-3iigni-container,
.select_api_key_sl .css-1hb7zxy-IndicatorsContainer {
  height: 50px !important;
}
.select_api_key_sl .css-16xfy0z-control {
  border: none;
}
.black_mode .select_api_key_sl .css-16xfy0z-control {
  background: rgb(40, 40, 40);
  border-color: rgb(40, 40, 40);
}
.css-894a34-indicatorSeparator {
  display: none;
}
@media only screen and (max-width: 600px) {
  .algo_regim {
    flex-direction: column;
  }
  .algorithm_btns {
    flex-direction: column;
    gap: 14px;
  }
  .algorithm_btns div,
  .algorithm_btns button {
    width: 100% !important;
  }
  .algorithm_btns .modal_wrapper_save_btn button {
    width: 169px;
    font-size: 14px;
  }
  .algorithm_btns .modal_wrapper_cancel button {
    width: 123px;
  }
  .algo_deposit .algorithm_item_input_add {
    position: static;
    height: 53px;
    width: 100%;
    border-radius: 6px;
    margin-top: 24px;
    background: rgb(242, 242, 242);
    justify-content: space-between;
  }
  .algo_refresh {
    background: #fff;
  }
  .top_page_attention_wrapper {
    flex-direction: column;
    gap: 24px;
  }
}
