footer {
  padding: 36px;
  background: var(--111112, #111112);
  margin-top: 100px;
  width: 100%;
}

.footer_wrapper p {
  text-align: center;
  color: var(--FFFFFF, #fff);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: TTInterfaces600;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
}
.footer_wrapper span {
  color: var(--92979C, #92979c);
}
