footer {
  box-sizing: border-box;
  border-top: 1px solid rgb(229, 231, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 36px;
  margin-top: 40px;
}
.footer_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footer_left_text {
  color: rgb(146, 151, 156);
  font-family: TTInterfaces500;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
}
.footer_links {
  display: flex;
  align-items: center;
  gap: 23px;
}
.footer_links a {
  color: rgb(146, 151, 156);
  font-family: TTInterfaces600;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0px;
}
.black_mode footer p,
.black_mode footer a {
  color: rgb(146, 151, 156);
}

.black_mode footer {
  border-top: 1px solid var(--Stroke_Black, #343436);
}

@media only screen and (max-width: 450px) {

  .footer_left_text p,
  .footer_links {
    font-size: 12px;
  }
  .footer_wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
}
