footer {
  border-top: 1px solid var(--Stroke_White, #dbdbdb);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  margin-top: 96px;
}
.footer_wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
footer p,
footer a {
  color: #000;
  font-family: IBMPlexMono500;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer_wrapper span {
  color: rgba(0, 0, 0, 0.6);
}
.black_mode footer p,
.black_mode footer a {
  color: var(--Color_White, #fff);
}
.black_mode .footer_wrapper span {
  color: rgba(255, 255, 255, 0.6);
}
.footer_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.footer_left p:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 8px;
}
.black_mode footer {
  border-top: 1px solid var(--Stroke_Black, #343436);
}
.footer_adress {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: IBMPlexMono500;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 184.615% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media only screen and (max-width: 450px) {
  footer {
    margin-top: 70px;
  }
  .footer_wrapper p {
    font-size: 13px;
  }
  footer p,
  footer a {
    font-size: 11px;
  }
}
