nav {
  padding: 0 36px;

  border-bottom: 1px solid rgb(229, 231, 235);
}
.black_mode nav {
  border-bottom: 1px solid var(--Stroke_Black, #343436);
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}
.nav_wrapper_left {
  display: flex;
  align-items: center;
  gap: 36px;
}
.mode_toggler {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mode_toggler svg {
  cursor: pointer;
}
.user_nav_avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.mode_toggler {
  width: 58px;
  height: 32px;
  border-radius: 32px;
  padding: 4px;
  background: rgb(243, 244, 246);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.black_mode .mode_toggler {
  background: rgb(40, 40, 40);
}
.mode_toggler_icon {
  width: 24px;
  height: 24px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* .mode_toggler .mode_toggler_icon:nth-child(1) svg {
  width: 15px;
  height: 15px;
}
.mode_toggler .mode_toggler_icon:nth-child(2) svg {
  width: 12.75px;
  height: 12.75px;
} */
.active_mode_toggler_icon {
  background: rgb(0, 104, 255);
}
.active_mode_toggler_icon svg *,
.black_mode_toggler svg * {
  fill: rgb(255, 255, 255) !important;
}

.nav_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_bar_menu {
  display: flex;
  align-items: center;
  gap: 36px;
}
.nav_menu_item {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.nav_menu_item p {
  color: #05061f;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 17px/Medium */
  font-family: TTInterfaces500;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px; /* 141.176% */
}
.black_mode .nav_menu_item p {
  color: var(--Color_White, #fff);
}
.black_mode .nav_menu_item svg * {
  fill: #fff;
}
.black_mode .nav_menu_vert_line * {
  stroke: #343436 !important;
}
.black_mode_handler * {
  stroke: #ffffff;
  fill: #fff;
}
.nav_wrapper_right {
  display: flex;
  align-items: center;
  gap: 8px;
}
.nav_wrapper_right .nav_menu_item {
  background: rgb(243, 244, 246);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}
.black_mode .nav_wrapper_right .nav_menu_item {
  background: rgb(40, 40, 40);
}
.nav_chat_icon svg {
  width: 16px;
  height: 16px;
}
.nav_user_nav_avatar {
  background: transparent;
  border-radius: 0;
  width: auto;
}
.nav_menu_item {
  position: relative;
  padding: 10px 0;
}
.nav_menu_item .drop_down_icon {
  transition: all 0.4s ease;
}
.nav_menu_item p:hover + .drop_down_icon {
  transition: all 0.4s ease;
  transform: rotate(-180deg);
}
.nav_menu_item .drop_down_icon:hover {
  transition: all 0.4s ease;
  transform: rotate(-180deg);
}
.nav_wrapper_right svg *,
.nav_bar_menu svg * {
  fill: #111112;
}
.nav_menu_item_drop {
  position: absolute;
  width: auto;
  top: 40px;
  padding: 4px;
  border-radius: 6px;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  z-index: 12;
  opacity: 0;
  transform: translateY(15%);
  transition: all 0.35s ease;
  visibility: hidden;
}
.lang_switcher_wrapper .nav_menu_item_drop {
  right: 0;
}
.black_mode .nav_menu_item_drop {
  border-radius: 6px;
  background: #282828;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

.nav_menu_item_drop p {
  padding: 12px 16px;
  color: var(--111112, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  transition: all 0.2s ease !important;
  /* 17px/Regular */
  font-family: TTInterfaces400;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border-radius: 6px;

  line-height: 24px; /* 141.176% */
}

.nav_menu_item_drop a:hover p {
  border-radius: 6px;
  background: #f9f9f9;
  transition: all 0.2s ease !important;
}
.black_mode .nav_menu_item_drop a:hover p {
  background: #1111123e;
}
.nav_mob_bottom_action {
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 6px 24px;
  background: transparent;
}
.mob_lang_toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
}
.nav_mob_bottom_action p {
  color: var(--OnSecond, var(--Color_White, #fff));
  font-family: TTInterfaces500;
  font-size: 17px;
  font-style: normal;
  font-weight: 492;
  line-height: 24px; /* 141.176% */
}
.nav_mob_bottom_action svg * {
  fill: #fff;
  stroke: #fff;
}
.nav_mob_bottom_actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 24px;
}

.nav_menu_item p:hover ~ .nav_menu_item_drop,
.nav_menu_item svg:hover ~ .nav_menu_item_drop,
.nav_menu_item img:hover ~ .nav_menu_item_drop {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.3s ease;
}
.nav_menu_item svg:hover .nav_menu_item_drop {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.3s ease;
}
.nav_menu_item_drop:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav_menu_item_drop:hover {
  display: flex;
}
.nav_menu_item_drop_chat {
  right: 0;
}
.nav_menu_item_drop_chat a,
.nav_menu_item_drop_notifications a {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  width: 180px;
  padding: 12px 16px;
  border-radius: 6px;
  justify-content: space-between;
}
.nav_menu_item_drop_chat p,
.nav_menu_item_drop_notifications p {
  padding: 0;
}
.nav_menu_item_drop_chat a:hover,
.nav_menu_item_drop_notifications a:hover {
  background: #f9f9f9;
}
.black_mode .nav_menu_item_drop_chat a:hover,
.black_mode .nav_menu_item_drop_notifications a:hover {
  background: #111112;
}
.nav_menu_item_drop_notifications {
  right: 0;
  width: 374px;
}

.nav_menu_item_drop_notifications a {
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.nav_menu_item_drop_notifications p {
  color: var(--111112, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  margin-bottom: 10px;
  /* 17px/Regular */
  font-family: TTInterfaces400;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
}
.nav_menu_item_drop_notifications span {
  color: var(--92979C, #92979c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  font-family: TTInterfaces400;
  text-align-last: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.nav_menu_item_drop_profile {
  right: 0;
  top: 40px;
  width: 260px;
}
.nav_menu_item_drop_profile_block {
  padding: 16px;
}
.nav_menu_item_drop_profile_block p {
  padding: 0;
  margin-bottom: 10px;
  color: var(--92979C, #92979c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: TTInterfaces400;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.nav_menu_item_drop_profile_block p:first-child {
  color: var(--111112, #111112);
}
.black_mode .nav_menu_item_drop_profile_block p {
  color: var(--Color_Gray, #92979c);
}
.black_mode .nav_menu_item_drop_profile_block p:first-child {
  color: #fff;
}
.nav_menu_item_drop_profile_block p:last-child {
  margin-bottom: 0;
}
.nav_menu_item_drop_settings {
  width: 195px;
}
.nav_menu_item_drop_learn {
  width: 310px;
}
.nav_mob_burger {
  cursor: pointer;
  display: none;
}
.nav_mob_menu_wrapper {
  width: 100%;
  height: 100vh;
  padding: 32px 24px;
  padding-top: 32px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 111;
  position: fixed;
  background: rgb(27, 27, 27);
  transition: all 0.4s ease;
  transform: translateX(100%);
}
.nav_mob_menu_line {
  background: rgb(50, 50, 50);
  width: 100%;
  height: 1px;
}
.nav_mob_menu_wrapper_content {
  padding-top: 26px;
}
.mob_menu_socials {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}
.mob_menu_socials svg * {
  fill: #92979c;
}
.nav_mob_menu_profile {
  display: flex;
  align-items: center;
  padding: 24px 0;
  gap: 12px;
}
.nav_mob_menu_profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.nav_mob_menu_profile p {
  color: rgb(255, 255, 255);
  font-family: TTInterfaces400;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}
.nav_mob_menu_profile span {
  color: rgb(146, 151, 156);
  font-family: TTInterfaces400;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}
@media only screen and (max-width: 1300px) {
  .nav_bar_menu,
  .nav_wrapper_right {
    gap: 20px;
  }
  nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .nav_menu_item_drop {
    opacity: 1;
    transform: translateY(0%);
    display: none;
    visibility: visible;
  }
  .nav_menu_item:hover .nav_menu_item_drop {
    display: block;
  }

  .nav_bar_menu,
  .nav_wrapper_right {
    display: none;
  }
  .nav_mob_burger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav {
    padding: 10px 20px;
  }

  .visible_mob_menu {
    transition: all 0.4s ease;
    transform: translateX(0);
  }
  .nav_mob_menu_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mob_menu_user_data p {
    color: var(--92979C, #92979c);
    margin-bottom: 10px;
    /* 17px/Regular */
    font-family: TTInterfaces400;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 141.176% */
  }
  .mob_menu_user_data p:nth-child(1) {
    color: var(--FFFFFF, #fff);
  }
  .nav_mob_menu_wrapper .nav_bar_menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 18px 0;
    gap: 24px;
  }

  .nav_menu_item {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;

    height: auto;
  }
  .nav_menu_item p {
    color: var(--OnSecond, var(--FFFFFF, #fff));
    font-family: TTInterfaces400;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
  }
  .nav_menu_itemm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .nav_mob_menu_wrapper_line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--595959, #595959);
    margin: 24px 0 24px;
  }
  .nav_logout_btn button {
    border-radius: 40px;
    width: 100%;

    background: var(--Accent, #0077ff);
    padding: 11px 20px 14px 20px;

    color: var(--OnSecond, var(--FFFFFF, #fff));
    font-family: TTInterfaces500;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 123.077% */
  }
  .nav_menu_item_drop {
    width: 100%;
    z-index: 112;
    top: 0;
    background: transparent;
    border: none;
    box-shadow: none;
  }
  .nav_menu_item_drop p {
    color: #fff;
    padding-left: 0;
    font-size: 12px;
  }
  .nav_menu_item_drop a:hover p {
    background: transparent;
    color: #fff;
  }
  .nav_menu_item_drop .active p {
    background: transparent;
    color: #fff;
    text-decoration: underline;
  }
  .nav_menu_item_drop {
    position: relative;
  }
}
.nav_mob_menu_wrapper_content_wrapper .nav_menu_item svg * {
  fill: #fff;
}
.nav_mob_menu_wrapper_content_wrapper .nav_menu_item {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.nav_menu_item_mob_setting svg * {
  fill: none !important;
}
.nav_mob_top_actions {
  padding: 19px 0;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}
.nav_mob_top_action {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav_mob_top_action p {
  color: rgb(255, 255, 255);
  font-family: TTInterfaces400;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.nav_mob_top_action h2 {
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: TTInterfaces400;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
@media only screen and (max-width: 750px) {
  .nav_wrapper_right {
    display: none;
  }

  .nav_menu_item_drop {
    padding: 3px;
  }
}
@media only screen and (max-width: 450px) {
  nav {
    padding: 14px 24px;
  }
}
