nav {
  padding: 26px 36px;
  background: var(--111112, #111112);
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_wrapper_left {
  display: flex;
  align-items: center;
  gap: 36px;
}

.nav_bar_menu {
  display: flex;
  align-items: center;
  gap: 36px;
}
.nav_menu_item {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.nav_menu_item p {
  color: var(--D2D2D2, #d2d2d2);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 17px/Medium */
  font-family: TTInterfaces500;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
}

.nav_wrapper_right {
  display: flex;
  align-items: center;
  gap: 36px;
}
.nav_menu_item {
  position: relative;
  padding: 10px 0;
}

.nav_menu_item_drop {
  position: absolute;
  width: auto;
  top: 36px;
  padding: 12px;
  border-radius: 6px;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

.nav_menu_item_drop p {
  padding: 12px 16px;
  color: var(--111112, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  transition: all 0.4s ease;
  /* 17px/Regular */
  font-family: TTInterfaces400;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  border-radius: 6px;

  line-height: 24px; /* 141.176% */
}

.nav_menu_item_drop a:hover p {
  border-radius: 6px;
  background: #f9f9f9;
}

.nav_menu_item_drop {
  display: none;
}
.nav_menu_item:hover .nav_menu_item_drop {
  display: flex;
}
.nav_menu_item_drop:hover {
  display: flex;
}
.nav_menu_item_drop_chat {
  right: 0;
}
.nav_menu_item_drop_chat a,
.nav_menu_item_drop_notifications a {
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
  width: 180px;
  padding: 12px 16px;
  border-radius: 6px;
  justify-content: space-between;
}
.nav_menu_item_drop_chat p,
.nav_menu_item_drop_notifications p {
  padding: 0;
}
.nav_menu_item_drop_chat a:hover,
.nav_menu_item_drop_notifications a:hover {
  background: #f9f9f9;
}
.nav_menu_item_drop_notifications {
  right: 0;
  width: 374px;
}

.nav_menu_item_drop_notifications a {
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.nav_menu_item_drop_notifications p {
  color: var(--111112, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  margin-bottom: 10px;
  /* 17px/Regular */
  font-family: TTInterfaces400;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
}
.nav_menu_item_drop_notifications span {
  color: var(--92979C, #92979c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  font-family: TTInterfaces400;
  text-align-last: left;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.nav_menu_item_drop_profile {
  right: 0;
  top: 50px;
  width: 260px;
}
.nav_menu_item_drop_profile_block {
  padding: 16px;
}
.nav_menu_item_drop_profile_block p {
  padding: 0;
  margin-bottom: 10px;
  color: var(--92979C, #92979c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: TTInterfaces400;

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.nav_menu_item_drop_profile_block p:first-child {
  color: var(--111112, #111112);
}
.nav_menu_item_drop_profile_block p:last-child {
  margin-bottom: 0;
}
.nav_menu_item_drop_settings {
  width: 195px;
}
.nav_menu_item_drop_learn {
  width: 310px;
}
.nav_mob_burger {
  cursor: pointer;
  display: none;
}

.nav_mob_menu_wrapper {
  width: 100%;
  height: 100vh;
  padding: 32px 24px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 111;
  position: fixed;
  background: #111112;
  transition: all 0.4s ease;
  transform: translateX(100%);
}
.visible_mob_menu {
  transition: all 0.4s ease;
  transform: translateX(0);
}
.nav_mob_menu_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
.mob_menu_user_data p {
  color: var(--92979C, #92979c);
  margin-bottom: 10px;
  /* 17px/Regular */
  font-family: TTInterfaces400;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
}
.mob_menu_user_data p:nth-child(1) {
  color: var(--FFFFFF, #fff);
}
.nav_mob_menu_wrapper .nav_bar_menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}
.nav_menu_item {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.nav_menu_itemm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav_mob_menu_wrapper_line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--595959, #595959);
  margin: 24px 0 24px;
}
.nav_logout_btn button {
  border-radius: 40px;
  width: 100%;
  margin-top: 65px;
  background: var(--Accent, #2420fc);
  padding: 11px 20px 13px 20px;

  color: var(--OnSecond, var(--FFFFFF, #fff));
  font-family: TTInterfaces500;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
}
.nav_menu_item_drop {
  width: 100%;
  z-index: 112;
  top: 0;
}
.nav_menu_item_drop {
  position: relative;
}
.nav_mob_menu_wrapper_content_wrapper {
  overflow-y: auto;
  max-height: 80vh;
}
@media only screen and (max-width: 1300px) {
  .nav_bar_menu,
  .nav_wrapper_right {
    gap: 20px;
  }
  nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .nav_bar_menu {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .nav_wrapper_right {
    display: none;
  }
  .nav_mob_burger {
    display: block;
  }
}
