@import url(./assets/fonts/fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
input {
  outline: none;
}

.pages_wrapper {
  width: 1250px;
  min-height: 70vh;
  margin: 0 auto;
  padding-top: 24px;
}