@import url(./assets/fonts/fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  background: #fbfbfb;
}
a {
  text-decoration: none !important;
}
.active p {
  text-decoration: none !important;
}
.white_mode {
  background: #fff !important;
}
a:hover {
  text-decoration: none !important;
}
.main_block_wrapper,
.secondary_block_wrapper {
  background: #fff;

  border-radius: 6px;
  border: none;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
}
.black_mode .main_block_wrapper,
.black_mode .secondary_block_wrapper {
  border-radius: 6px;
  background: var(--Color_Block_Black, #18181a);

  /* Тень */
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
}

.main_block_wrapper_bottom,
.secondary_block_wrapper {
  border: none !important;
}
.main_block_wrapper_top {
  border: none !important;
  border-bottom: 1px solid var(--Stroke_White, #dbdbdb) !important;
}
.black_mode .main_block_wrapper_top {
  border-bottom: 1px solid var(--Stroke_Black, #343436) !important;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.4s ease;
  font-size: 17px !important;
}
button:hover {
  background: #0077ffcc;
  transition: all 0.4s ease;
}
input {
  outline: none;
}
.page_content {
  overflow: hidden;
}

.pages_wrapper {
  width: 1250px;
  min-height: 70vh;

  margin: 0 auto;
  padding-top: 24px;
}

.nav_bar_menu .active p,
.settings_navigation .active p {
  opacity: 0.7;

  transition: all 0.4s ease;
}
.nav_bar_menu p:hover,
.settings_navigation p:hover {
  opacity: 0.7;
  transition: all 0.4s ease;
}
.nav_menu_item_drop .active p {
  background: #f9f9f9;
}
.black_mode .nav_menu_item_drop .active p {
  color: #fff;
  background: #111112;
}

.nav_menu_item_drop p:hover {
  color: #111112;
}
.black_mode {
  background: #111112;
}
.empty_block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 95px 0;
}
.empty_block p {
  color: var(--Color_Gray, #92979c);
  font-family: TTInterfaces400;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (max-width: 1300px) {
  .pages_wrapper,
  .question_widget_wrapper {
    width: 100%;
    padding-left: 20px;
    padding-inline-end: 20px;
  }
}
@media only screen and (max-width: 450px) {
  button {
    font-size: 13px !important;
  }
}
/* hidden_scroll */
.analysing_page_title_wrapper {
}
