.page_title h2 {
  color: var(--111112, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: TTInterfaces800;
  font-size: 32px;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -2.58px;
  line-height: normal;
}
.black_mode .page_title h2 {
  color: #fff;
}
.black_mode .analysis_top_toggler {
  border-radius: 6px;
  background: rgb(40, 40, 40);

  /* Тень */
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
  border: none;
}
.black_mode .analysis_top_toggler p {
  color: var(--Color_White, #fff);
}
.black_mode .analysis_top_toggler svg * {
  fill: #fff;
}
.black_mode .pagination p {
  color: #fff;
}
.black_mode .pagination svg * {
  fill: #fff;
}
.page_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.active_page {
  font-weight: 900 !important;
}

.analysis_top_toggler {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid var(--DBDBDB, #dbdbdb);
}

.analysis_top_toggler p {
  color: var(--111112, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 17px/Regular */
  font-family: TTInterfaces400;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
}

.analysis_top_toggler svg {
  cursor: pointer;
}
.analysis_page {
  padding-top: 0;
}

.analysis_order_items p {
  margin-bottom: 0 !important;
}
.order_item_top_status_success {
  border-radius: 6px;
  background: var(--E0F5E8, #e0f5e8) !important;
}
.order_item_top_status_success p {
  color: var(--31BD65, #31bd65) !important;
}
.analysis_history {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding-bottom: 0 !important;
}
.analysis_history .order_history_list_item:last-child .order_history_list_line {
  margin-bottom: 0;
}
.mb_0 {
  margin-bottom: 0 !important;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.pagination p {
  cursor: pointer;
  padding: 8px;
  margin: 0;
}
.pagination p {
  color: var(--111112, #111112);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 17px/Regular */
  font-family: TTInterfaces400;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
}
.pagination svg {
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .review_left_top {
    flex-direction: column;
    gap: 0 !important;
  }
  .review_left_top .main_block_wrapper {
    width: 100% !important;
  }
  .analysis_order_items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .order_history_list_item_content_item {
    width: 50%;
  }
  .order_history_list_item_content_item p {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px !important;
  }
  .order_history_list_item_content_item span {
    padding: 0 !important;
    padding-top: 10px !important;
  }
  .analysis_order_items .order_history_list_item_content_item:nth-child(2),
  .analysis_order_items .order_history_list_item_content_item:nth-child(4) {
    text-align: right;
  }
  .order_history_list_item_content_item_last p {
    text-align: left !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    flex-direction: row;
    margin: 0 !important;
  }
  .order_history_list_item_content_item_last span {
    padding: 0 !important;
    padding-left: 9px !important;
  }
  .order_history_list_item_content_item_last {
    max-width: 200px;
  }
  .page_title h2 {
    font-size: 33px;
  }
}

.data_picker_mobile {
  display: none;
}
.active_order_item:last-child .order_history_list_line {
 display: none;
}
@media only screen and (max-width: 730px) {
  .data_picker_desctop {
    display: none;
  }
  .data_picker_mobile {
    display: flex;
  }
}

@media only screen and (max-width: 580px) {
  .analysing_page_title_wrapper .page_title {
    gap: 24px;

  }
  .analysing_page_title_wrapper .page_title h2 {
    font-size: 17px;
  }
  .analysing_page_title_wrapper {
    overflow: auto;
    margin-right: -10px;
 
  }
  .analysis_top_toggler p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 430px) {

  .analysis_top_toggler {
    padding: 5px;
  }
  .pagination p {
    font-size: 13px;
  }
  .analysing_page_title_wrapper .page_title h2 {
    text-align: left !important;
  }
  .analyse_title h2 span {
    display: none;
  }
  .analyse_title h2 {
    font-size: 33px !important;
  }
}
